Orquestador/src/conf/xml-resources/web-service-references/WSPilotos/wsdl/localhost_8080/ServiciosUber/WSPilotos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://serverPiloto/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serverPiloto/">

<xs:element name="Registrar_viaje" type="tns:Registrar_viaje"/>

<xs:element name="Registrar_viajeResponse" type="tns:Registrar_viajeResponse"/>

<xs:complexType name="Registrar_viaje">
<xs:sequence>
<xs:element name="idPiloto" type="xs:int"/>
<xs:element name="coordA" type="xs:double"/>
<xs:element name="coordB" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Registrar_viajeResponse">
<xs:sequence>
<xs:element name="return" type="tns:piloto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="piloto">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="placa" type="xs:string" minOccurs="0"/>
<xs:element name="auto" type="xs:string" minOccurs="0"/>
<xs:element name="color" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>