Orquestador/src/conf/xml-resources/web-service-references/WSCarros/wsdl/localhost_8080/ServiciosUber/WSCarros.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://serverCarros/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serverCarros/">

<xs:element name="Autos_cercanos" type="tns:Autos_cercanos"/>

<xs:element name="Autos_cercanosResponse" type="tns:Autos_cercanosResponse"/>

<xs:complexType name="Autos_cercanos">
<xs:sequence>
<xs:element name="coordA" type="xs:double"/>
<xs:element name="coordB" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Autos_cercanosResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>