FrontEnd/src/META-INF/wsdl/localhost_8080/Orquestador/EBS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Server/" name="EBS">
<types>
<xsd:schema>
<xsd:import namespace="http://Server/" schemaLocation="http://localhost:8080/Orquestador/EBS?xsd=1"/>
</xsd:schema>
</types>
<message name="Solicitud_de_transporte">
<part name="parameters" element="tns:Solicitud_de_transporte"/>
</message>
<message name="Solicitud_de_transporteResponse">
<part name="parameters" element="tns:Solicitud_de_transporteResponse"/>
</message>
<message name="paso_1">
<part name="parameters" element="tns:paso_1"/>
</message>
<message name="paso_1Response">
<part name="parameters" element="tns:paso_1Response"/>
</message>
<message name="paso_3">
<part name="parameters" element="tns:paso_3"/>
</message>
<message name="paso_3Response">
<part name="parameters" element="tns:paso_3Response"/>
</message>
<message name="paso_2">
<part name="parameters" element="tns:paso_2"/>
</message>
<message name="paso_2Response">
<part name="parameters" element="tns:paso_2Response"/>
</message>
<portType name="EBS">
<operation name="Solicitud_de_transporte">
<input wsam:Action="http://Server/EBS/Solicitud_de_transporteRequest" message="tns:Solicitud_de_transporte"/>
<output wsam:Action="http://Server/EBS/Solicitud_de_transporteResponse" message="tns:Solicitud_de_transporteResponse"/>
</operation>
<operation name="paso_1">
<input wsam:Action="http://Server/EBS/paso_1Request" message="tns:paso_1"/>
<output wsam:Action="http://Server/EBS/paso_1Response" message="tns:paso_1Response"/>
</operation>
<operation name="paso_3">
<input wsam:Action="http://Server/EBS/paso_3Request" message="tns:paso_3"/>
<output wsam:Action="http://Server/EBS/paso_3Response" message="tns:paso_3Response"/>
</operation>
<operation name="paso_2">
<input wsam:Action="http://Server/EBS/paso_2Request" message="tns:paso_2"/>
<output wsam:Action="http://Server/EBS/paso_2Response" message="tns:paso_2Response"/>
</operation>
</portType>
<binding name="EBSPortBinding" type="tns:EBS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Solicitud_de_transporte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="paso_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="paso_3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="paso_2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EBS">
<port name="EBSPort" binding="tns:EBSPortBinding">
<soap:address location="http://localhost:8080/Orquestador/EBS"/>
</port>
</service>
</definitions>