FrontEnd/src/META-INF/wsdl/localhost_8080/Orquestador/EBS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Server/">

<xs:element name="Solicitud_de_transporte" type="tns:Solicitud_de_transporte"/>

<xs:element name="Solicitud_de_transporteResponse" type="tns:Solicitud_de_transporteResponse"/>

<xs:element name="paso_1" type="tns:paso_1"/>

<xs:element name="paso_1Response" type="tns:paso_1Response"/>

<xs:element name="paso_2" type="tns:paso_2"/>

<xs:element name="paso_2Response" type="tns:paso_2Response"/>

<xs:element name="paso_3" type="tns:paso_3"/>

<xs:element name="paso_3Response" type="tns:paso_3Response"/>

<xs:complexType name="paso_2">
<xs:sequence>
<xs:element name="coordA" type="xs:double"/>
<xs:element name="coordB" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="paso_2Response">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Solicitud_de_transporte">
<xs:sequence>
<xs:element name="idCliente" type="xs:string" minOccurs="0"/>
<xs:element name="coordA" type="xs:double"/>
<xs:element name="coordB" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Solicitud_de_transporteResponse">
<xs:sequence>
<xs:element name="return" type="tns:pilotoRetorno" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pilotoRetorno">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="placa" type="xs:string" minOccurs="0"/>
<xs:element name="auto" type="xs:string" minOccurs="0"/>
<xs:element name="color" type="xs:string" minOccurs="0"/>
<xs:element name="codigo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="paso_3">
<xs:sequence>
<xs:element name="idPiloto" type="xs:int"/>
<xs:element name="coordA" type="xs:double"/>
<xs:element name="coordB" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="paso_3Response">
<xs:sequence>
<xs:element name="return" type="tns:pilotoRetorno" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="paso_1">
<xs:sequence>
<xs:element name="idCliente" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="paso_1Response">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>